In [3]:
import pandas as pd
import numpy as np

In [28]:
path = "data3/BANGI UMROH 14-17 JAN'25.csv"

## TARIKAN BCA

In [29]:
df = pd.read_csv(path)

start_rows = 0;
for i, data in enumerate(df[df.columns[0]]):
    if type(data) == str:
        if "tanggal" in data.lower():
            start_rows = i

df = pd.read_csv(path, skiprows= start_rows+1)

def nominal_after_tax(data):
    hasil = data.replace(" CR", "")
    hasil = hasil.replace(",", "")
    hasil = hasil[:-3]
    hasil = float(hasil)
    return hasil

df['After Tax'] = df[df.columns[3]].apply(nominal_after_tax)

def kategori_mutasi(data):
    if ("jemputan" in data.lower()) or ("setoran tunai" in data.lower()):
        return "CS"
    elif ("kartu kredit" in data.lower()):
        return "KR"
    elif ("kr otomatis mid" in data.lower()) and ("tgh" in data.lower()):
        return "DB"
    elif ("kr otomatis tanggal"in data.lower()) and ("qr" in data.lower()):
        return "QR"
    else:
        return ""

df["Tipe"] = df[df.columns[1]].apply(kategori_mutasi)

def admin_n_tax(data):
    if "ddr" in data.lower():
        hasil = data.lower().split("ddr:")[-1]
        hasil = hasil.replace(" ", "")
        try:
            hasil = float(hasil)
            final_hasil = int(hasil)
        except:
            final_hasil = hasil
        return final_hasil
    elif "adm" in data.lower():
        hasil = data.lower().split("adm:")[-1]
        hasil = hasil.replace(" ", "")
        try:
            hasil = float(hasil)
            final_hasil = int(hasil)
        except:
            final_hasil = hasil
        return final_hasil
    else:
        return 0

df["Tax"] = df[df.columns[1]].apply(admin_n_tax)

df["Amount"] = df["After Tax"] + df["Tax"]
df["Amount"] = df["Amount"].astype(int)
df["Bank"] = ["BCA" for i in df[df.columns[0]]]

final_df = df[[df.columns[0],df.columns[1], df.columns[5],df.columns[7],"Bank"]]
final_df

,Tanggal Transaksi,Keterangan,Tipe,Amount,Bank
0,14/01/2025,KARTU KREDIT MID:001830845 BANGI CAFE T1 GATE ...,KR,408000,BCA
1,14/01/2025,KR OTOMATIS MID : 885001830845 BANGI CAFE T1 G...,DB,2488997,BCA
2,14/01/2025,KR OTOMATIS TANGGAL :13/01 MID : 885001830845 ...,QR,11621986,BCA
3,14/01/2025,KR OTOMATIS SETORAN JEMPUTAN BCU13,CS,2995000,BCA
4,15/01/2025,KARTU KREDIT MID:001830845 BANGI CAFE T1 GATE ...,KR,2129001,BCA
5,15/01/2025,KR OTOMATIS MID : 885001830845 BANGI CAFE T1 G...,DB,2333996,BCA
6,15/01/2025,KR OTOMATIS TANGGAL :14/01 MID : 885001830845 ...,QR,6111986,BCA
7,15/01/2025,TRSF E-BANKING DB 1501/FTSCY/WS95051 3000000.0...,,3000000,BCA
8,15/01/2025,KR OTOMATIS SETORAN JEMPUTAN BCU14,CS,5895000,BCA
9,16/01/2025,KARTU KREDIT MID:001830845 BANGI CAFE T1 GATE ...,KR,1576998,BCA
10,16/01/2025,KR OTOMATIS MID : 885001830845 BANGI CAFE T1 G...,DB,2547998,BCA
11,16/01/2025,KR OTOMATIS TANGGAL :15/01 MID : 885001830845 ...,QR,11286989,BCA
12,16/01/2025,TRSF E-BANKING DB 1601/FTSCY/WS95051 5287956.0...,,5287956,BCA
13,16/01/2025,TRSF E-BANKING DB 1601/FTSCY/WS95051 25483776....,,25483776,BCA
14,16/01/2025,TRSF E-BANKING DB 1601/FTSCY/WS95051 15331900....,,15331900,BCA
15,16/01/2025,KR OTOMATIS SETORAN JEMPUTAN BCU15,CS,4498000,BCA
16,PEND,KR OTOMATIS MID : 885001830845 BANGI CAFE T1 G...,DB,4201995,BCA
17,PEND,KARTU KREDIT MID:001830845 BANGI CAFE T1 GATE ...,KR,3149997,BCA
18,PEND,TRSF E-BANKING DB 1701/FTSCY/WS95051 8493000.0...,,8493000,BCA
19,PEND,KR OTOMATIS TANGGAL :16/01 MID : 885001830845 ...,QR,11084996,BCA
20,PEND,KR OTOMATIS SETORAN JEMPUTAN BCU16,CS,4088000,BCA

## TARIKAN PERMATA BANK

In [12]:
path = "data-permata/11. Permata Bank November 2024 (2).csv"

In [27]:
df = pd.read_csv(path)
df = df.drop([df.columns[0],df.columns[1],df.columns[3],df.columns[4],df.columns[6],df.columns[7],df.columns[9],df.columns[10]],axis="columns")

def tipe_transaksi(data):
    if "qr" in data.lower():
        return "QR"
    elif "payment merchant" in data.lower():
        return "KR"
    else:
        return ""
    
def amount(data):
    hasil = data.replace(",", "")
    return float(hasil)

df["Tipe Transaksi"] = df[df.columns[2]].apply(tipe_transaksi)
df['Amount'] = df['Amount'].apply(amount)
df = df[[df.columns[0],df.columns[2],df.columns[3],df.columns[1]]]
df.columns = ["Tanggal Transaksi", "Keterangan", "Tipe", "Amount"]
df["Bank"] = ["Permata" for i in df[df.columns[0]]]
df = df[df["Tipe"]!=""]
df = df.reset_index(drop=True)
df

,Tanggal Transaksi,Keterangan,Tipe,Amount,Bank
0,01/11/24,PB DARI KREDITUR PENAMPUNGAN BACH MPV BATCH 08...,KR,254430.0,Permata
1,01/11/24,PB DARI KREDITUR PENAMPUNGAN BACH MPV BATCH 08...,KR,804870.0,Permata
2,01/11/24,PB DARI KREDITUR PENAMPUNGAN BACH MPV BATCH 08...,KR,255420.0,Permata
3,01/11/24,PB DARI KREDITUR PENAMPUNGAN BACH MPV BATCH 08...,KR,1937072.0,Permata
4,01/11/24,PB DARI KREDITUR PENAMPUNGAN BACH MPV BATCH 08...,QR,3101139.0,Permata
...,...,...,...,...,...
354,29/11/24,PB DARI KREDITUR PENAMPUNGAN BACH MPV BATCH 08...,KR,2965711.0,Permata
355,29/11/24,PB DARI KREDITUR PENAMPUNGAN BACH MPV BATCH 08...,KR,4097379.0,Permata
356,30/11/24,PB DARI KREDITUR PENAMPUNGAN BACH MPV BATCH 08...,KR,7732278.0,Permata
357,30/11/24,PB DARI KREDITUR PENAMPUNGAN BACH MPV BATCH 08...,KR,5684126.0,Permata
358,30/11/24,PB DARI KREDITUR PENAMPUNGAN BACH MPV BATCH 08...,KR,8350995.0,Permata

## TARIKAN BRI

In [23]:
path_bri = "data-bri/FULL BANGI.xlsx"

In [26]:
df = pd.read_excel(path_bri)

start_rows = 0
for i, data in enumerate(df[df.columns[0]]):
    if type(data) == str:
        if "mid" in data.lower():
            start_rows = i
        break
print(start_rows)

df = pd.read_excel(path_bri, skiprows=start_rows+1)
df['Keterangan'] = df[df.columns[6]] + df[df.columns[5]]
df_hasil = df[[df.columns[3],"Keterangan",df.columns[12],df.columns[8]]]

def tipe(data):
    if "qris" in data.lower():
        return "QR"
    if "debit" in data.lower():
        return "DB"
    if "credit" in data.lower():
        return "KR"
    else:
        return ""

df_hasil["Tipe"] = df_hasil[df_hasil.columns[2]].apply(tipe)

def amount(data):
    data = data.replace(",","")
    return int(data)

df_hasil = df_hasil[[df_hasil.columns[0],df_hasil.columns[1],df_hasil.columns[4],df_hasil.columns[3]]]
df_hasil.columns = ["Tanggal Transaksi", "Keterangan", "Tipe", "Amount"]
df_hasil["Amount"] = df_hasil["Amount"].apply(amount)
df_hasil["Bank"] = ["BRI" for i in df[df.columns[0]]]
df_hasil = df_hasil[df_hasil["Tipe"]!=""]
df_hasil = df_hasil.reset_index(drop=True)
df_hasil

0

C:\Users\yesaya\AppData\Local\Temp\ipykernel_24004\66713628.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hasil["Tipe"] = df_hasil[df_hasil.columns[2]].apply(tipe)

,Tanggal Transaksi,Keterangan,Tipe,Amount,Bank
0,2024-12-19,OnUs 1 241219 001999508532 BANGI CAFE GA522184...,DB,1,BRI
1,2024-12-19,OnUs 1 241219 001999508532 BANGI CAFE GA522184...,DB,1,BRI
2,2024-12-19,QRISOnUs_2_241220_001999508532_BANGI CAF936000...,QR,1,BRI
3,2024-12-19,QRISOffUs_3_241220_001999508532_BANGI CA936009...,QR,1,BRI
4,2024-12-21,QRISOffUs_3_241222_001999508532_BANGI CA936000...,QR,81001,BRI
...,...,...,...,...,...
108,2024-12-27,QRISOffUs_3_241228_001999508532_BANGI CA936000...,QR,236999,BRI
109,2024-12-27,QRISOffUs_3_241228_001999508532_BANGI CA936005...,QR,49000,BRI
110,2024-12-27,QRISOnUs_2_241228_001999508532_BANGI CAF936000...,QR,241000,BRI
111,2024-12-29,QRISOnUs_3_241230_001999508532_BANGI CAF936000...,QR,180000,BRI
112,2024-12-30,OnUs 1 241230 001999508532 BANGI CAFE GA532659...,DB,147000,BRI