In [1]:
import pandas as pd
import numpy as np
import os

In [3]:
file_paths = os.listdir('data2')
file_paths

["ALL KANTIN 16-14 JAN'25.xlsx",
 "ALL WARKOP 16-14 JAN'25.xlsx",
 "AR 16-14 JAN'25.xlsx",
 "BC 16-14 JAN'25.xlsx",
 "BC UM 16-14 JAN'25.xlsx",
 "DJO GT11 16-14 JAN'25.xlsx",
 "DK 16-14 JAN'25.xlsx",
 "FC 16-14 JAN'25.xlsx",
 "GC GT14 16-14 JAN'25.xlsx",
 "GC KAI 16-14 JAN'25.xlsx",
 "GC LUAR 16-14 JAN'25 (2).xlsx",
 "GC UMROH 16-14 JAN'25.xlsx",
 "GJC ATAS T2 16-14 JAN'25.xlsx",
 "GJC T1 16-14 JAN'25.xlsx",
 "GJC T2 16-14 JAN'25.xlsx",
 "KILLINEY 16-14 JAN'25.xlsx",
 "LA CAFE 16-14 JAN'25.xlsx",
 "LA SMOOKING 16-14 JAN'25.xlsx",
 "RF3 16-14 JAN'25.xlsx",
 "RF7 16-14 JAN'25.xlsx"]

In [61]:
def read_data(path):
  if path.split('.')[-1] == 'csv':
    df = pd.read_csv(path)
    start = 0
    for i, id in enumerate(df[df.columns[0]]):
      if type(id) == str:
        if "tanggal" in id.lower():
          start = i
          break
          # print(outlet)
    df0 = pd.read_csv(path, skiprows=i+1)


  elif path.split('.')[-1] == 'xlsx':
    df = pd.read_excel(path, dtype=str)
    start = 0
    for i, id in enumerate(df[df.columns[0]]):
      if type(id) == str:
        if "tanggal" in id.lower():
          start = i
          break
 
    df0 = pd.read_excel(path, skiprows=i+1)

  def transform_tgl(date):
    if type(transform_tgl) != str:
      try:
        new_date = str(date)
        # new_date = pd.to_datetime(new_date)
        return date
      except:
        return date

  df0[df0.columns[0]] = df0[df0.columns[0]].apply(transform_tgl)
  df0 = df0[~df0[df0.columns[0]].str.contains('Saldo|Mutasi', case=False, na=False)]
  return df0

In [62]:
x = read_data("data2/KPP 16-14 JAN'25.csv")
x

,Tanggal Transaksi,Keterangan,Cabang,Jumlah
0,16/12/2024,KARTU KREDIT MID:001794196 KEDAI SOUVENIR TGH...,960,"1,746,990.00 CR"
1,16/12/2024,KR OTOMATIS SETORAN JEMPUTAN KPP14 15,973,"2,515,000.00 CR"
2,17/12/2024,KARTU KREDIT MID:001794196 KEDAI SOUVENIR TGH...,960,"3,382,449.00 CR"
3,17/12/2024,KR OTOMATIS MID : 885001794196 KEDAI SOUVENIR ...,998,"386,100.00 CR"
4,17/12/2024,TRSF E-BANKING DB 1712/FTLLG/0000100 0080017PT...,0,"14,385,600.00 DB"
...,...,...,...,...
83,13/01/2025,KR OTOMATIS TANGGAL :12/01 MID : 885001794196 ...,998,"109,670.00 CR"
84,13/01/2025,KR OTOMATIS SETORAN JEMPUTAN KPP11 12,973,"1,627,000.00 CR"
85,PEND,KARTU KREDIT MID:001794196 KEDAI SOUVENIR TGH...,960,"2,540,538.00 CR"
86,PEND,KR OTOMATIS TANGGAL :13/01 MID : 885001794196 ...,998,"99,500.00 CR"
87,PEND,KR OTOMATIS SETORAN JEMPUTAN KPP13,973,"1,110,000.00 CR"

In [7]:
def cetak():
    hasil = []
    df_hasil = pd.DataFrame([[]])

    for file in file_paths:
        hasil = read_data("data2/"+file)
        df_hasil = pd.concat([df_hasil, hasil], ignore_index=True)
        
        hapus_nilai = ["BIAYA ADM   ", "PAJAK BUNGA   ", 'BUNGA   ', "CR KOREKSI BUNGA"]
        df_hasil = df_hasil[~df_hasil[df_hasil.columns[1]].isin(hapus_nilai)]
        df_hasil = df_hasil.dropna(how="all")
        df_hasil.reset_index(drop=True, inplace=True)

    return df_hasil

In [8]:
df_hasil = cetak()
df_hasil

,Tanggal Transaksi,Keterangan,Cabang,Jumlah
0,16/12/2024,KR OTOMATIS SETORAN JEMPUTAN KP14 15,973.0,"1,682,000.00 CR"
1,16/12/2024,KR OTOMATIS SETORAN JEMPUTAN KI14 15,973.0,"6,058,000.00 CR"
2,16/12/2024,KR OTOMATIS SETORAN JEMPUTAN KT2 14 15,973.0,"1,786,500.00 CR"
3,16/12/2024,KR OTOMATIS SETORAN JEMPUTAN KD14 15,973.0,"11,417,500.00 CR"
4,17/12/2024,TRSF E-BANKING DB 1712/FTSCY/WS95051 2676500.0...,0.0,"2,676,500.00 DB"
...,...,...,...,...
3088,13/01/2025,KR OTOMATIS SETORAN JEMPUTAN RF11 12,973.0,"6,335,000.00 CR"
3089,PEND,KARTU KREDIT MID:001694649 THE FOOT REFLEXOLO ...,960.0,"217,140.00 CR"
3090,PEND,KR OTOMATIS MID : 885001694649 THE FOOT REFLEX...,998.0,"567,530.00 CR"
3091,PEND,KR OTOMATIS TANGGAL :13/01 MID : 885001694649 ...,998.0,"1,494,680.00 CR"
3092,PEND,KR OTOMATIS SETORAN JEMPUTAN RF13,973.0,"300,000.00 CR"

In [9]:
df_hasil.to_excel('testing.xlsx', index=False)